name: Genera Prime Pagine AMP
on:
  schedule:
    - cron: '0 7 * * *' # ogni giorno alle 7 AM
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: npm install node-fetch@3
      - run: node amp/prime-pagine/scripts/genera-prime.js
