name: Genera Pagine AMP + Sitemap

on:
  workflow_dispatch:       # esecuzione manuale
  schedule:
    - cron: '0 * * * *'   # ogni ora
  push:
    branches:
      - main

jobs:
  build-amp:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Installa dipendenze
        run: npm install fs-extra dayjs xml2js node-fetch xmlbuilder

      - name: Genera pagine AMP e sitemap
        run: |
          node -e "
          const fs = require('fs-extra');
          const path = require('path');
          const fetch = (...args) => import('node-fetch').then(({default: fetch}) => fetch(...args));
          const xml2js = require('xml2js');
          const dayjs = require('dayjs');
          const builder = require('xmlbuilder');

          const ampDir = 'amp';
          fs.ensureDirSync(ampDir);

          const RSS_URL = 'https://feeds.feedburner.com/brunorachiele/ZOU113SCMgV';

          (async () => {
            try {
              // Legge il feed RSS
              const res = await fetch(RSS_URL);
              const xml = await res.text();
              const parser = new xml2js.Parser();
              const data = await parser.parseStringPromise(xml);
              const items = data.rss.channel[0].item;

              // Mappa gli articoli
              const posts = items.map(item => {
                const slug = item.link[0].replace(/^https?:\/\/[^\/]+\/|\/$/g,'');
                const title = item.title[0];
                const date = dayjs(item.pubDate[0]);
                const isoDate = date.format('YYYY-MM-DD');
                const link = item.link[0];
                return { slug, title, date, isoDate, link };
              });

              // Genera le pagine AMP
              posts.forEach(post => {
                const folder = path.join(ampDir, post.date.format('YYYY'), post.date.format('MM'));
                fs.ensureDirSync(folder);
                const filePath = path.join(folder, post.slug+'.html');

                const htmlTemplate = fs.readFileSync('article.html','utf8')
                  .replace(/{{title}}/g, post.title)
                  .replace(/{{link}}/g, post.link)
                  .replace(/{{pubDate}}/g, post.date.format('D MMMM YYYY'))
                  .replace(/{{isoDate}}/g, post.isoDate);

                fs.writeFileSync(filePath, htmlTemplate,'utf8');
                console.log('Generata pagina AMP:', filePath);
              });

              // Genera sitemap.xml
              const sitemap = builder.create('urlset',{encoding:'UTF-8'});
              sitemap.att('xmlns','http://www.sitemaps.org/schemas/sitemap/0.9');

              posts.sort((a,b)=>new Date(b.isoDate)-new Date(a.isoDate));

              posts.forEach(post=>{
                const loc = path.join(post.date.format('YYYY'), post.date.format('MM'), post.slug+'.html').replace(/\\/g,'/');
                sitemap.ele('url')
                  .ele('loc', {}, `https://amp.brunorachiele.it/${loc}`).up()
                  .ele('lastmod', {}, post.isoDate);
              });

              fs.writeFileSync(path.join(ampDir,'sitemap.xml'), sitemap.end({pretty:true}));
              console.log('Sitemap generata correttamente!');
            } catch(e) { 
              console.error('Errore nella generazione AMP o sitemap:', e); 
              process.exit(1); 
            }
          })();
          "

      - name: Commit e push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add amp/
          git commit -m 'Aggiornamento automatico pagine AMP e sitemap' || echo 'Nessuna modifica'
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
