      - name: Aggiorna amp/sitemap.xml da zero
        run: |
          # Installa temporaneamente i pacchetti necessari
          npm install glob xmlbuilder

          # Esegui il codice Node.js che genera la sitemap
          node <<'EOF'
          const fs = require('fs');
          const glob = require('glob');
          const builder = require('xmlbuilder');

          const baseUrl = 'https://amp.brunorachiele.it';
          const sitemapPath = 'amp/sitemap.xml';

          // Trova tutte le pagine AMP nella cartella amp/, ignorando sitemap.xml
          const files = glob.sync('amp/**/*.html', { ignore: ['amp/sitemap.xml'] });

          const urlset = builder.create('urlset', { encoding: 'UTF-8' });
          urlset.att('xmlns', 'http://www.sitemaps.org/schemas/sitemap/0.9');

          files.forEach(file => {
            const path = file.replace(/\\/g, '/').replace('amp/', '');
            urlset.ele('url').ele('loc', {}, `${baseUrl}/${path}`);
          });

          const xml = urlset.end({ pretty: true });
          fs.writeFileSync(sitemapPath, xml);
          console.log('amp/sitemap.xml completamente riscritto con tutte le pagine AMP!');
          EOF
